#containerForBullets {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.swiper-custom-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #134267;
  cursor: pointer;
}

.swiper-custom-bullet-active {
  background-color: #96caf7;
}
